@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Quicksand:wght@300;500&display=swap');

h1 {
  font-size: 32px;
  font-weight: 200;
  font-family: $secondary-font;
}

h2, h3, h4 {
  font-size: 12px;
  letter-spacing: 2px;
  font-family: $primary-font;
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.5;
  margin-bottom: 5px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

p{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  strong{
    font-weight: 600;
  }
}
