.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 12px 24px;
  transition: $default-transition;
  border-radius: 100px;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  font-family: $primary-font;
  font-weight: 100;

  &--primary {
    color: $text-color;
    background-color: $primary-color;
    padding: 12px 24px;

    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }

  &--secondary {
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
    padding: 12px 24px;

    &:hover {
      background-color: $primary-color;
      color: $text-color;
    }
  }
}



