@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
    background-image: url('../../assets/images/icons/cocktail-#{random(5)}.svg');
  }
  20% {
    transform: rotate(360deg);
    background-image: url('../../assets/images/icons/cocktail-#{random(5)}.svg');
  }
  40% {
    transform: rotate(720deg);
    background-image: url('../../assets/images/icons/cocktail-#{random(5)}.svg');
  }
  60% {
    transform: rotate(1080deg);
    background-image: url('../../assets/images/icons/cocktail-#{random(5)}.svg');
  }
  80% {
    transform: rotate(1440deg);
    background-image: url('../../assets/images/icons/cocktail-#{random(5)}.svg');
  }
  100% {
    transform: rotate(1800deg);
    background-image: url('../../assets/images/icons/cocktail-#{random(5)}.svg');
  }
}

.loader {
  width: 52px;
  height: 52px;
  border: 1px solid rgba($text-color, 0.5);
  border-radius: 62px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;

  &__icon {
    width: 28px;
    height: 28px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: loader-spin 5s ease infinite forwards;
    opacity: 0.5;
  }
}
