body {
  font-family: $primary-font;
  overflow: hidden;
  font-weight: 300;
  background-color: $secondary-color;
  color: $text-color;
  background-image: url(../../assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
  &:after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary-color, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}
