// Colours
$primary-color: #C7A159;
$secondary-color: #20221B;
$text-color: #fff;

// Fonts
$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Playfair Display', serif;

// Transitions
$default-transition: 0.5s ease;
